/*----------------------------
        MEGA MENU
 ----------------------------*/
.mega__wrapper {
    height: 100%;
    background-color: transparent;
}

.mega__menu {
    position: absolute;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    background: #f6f6f6;
    width: 100%;
    top: 150%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 9000;
}

.mega__menu:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top:-4%;
    left: 6%;
    background: #f6f6f6;
    transform: rotate(45deg);
    border-right: none;
    border-bottom: none;
    z-index: 10;
}

.mega__menu .sub__menu .sub__item ul {
    list-style: none;
}

.mega__menu .sub__menu .sub__item ul li {
    margin-bottom: 2%;
    text-align: left;
}

.menu__navbar .navbar-nav li:nth-child(2):hover .mega__menu {
    top: 100%;
    left: 0;
    opacity: 1;
    visibility: visible;
}