/*----------------------------
        Anime Sidebar
 ----------------------------*/

 .charts {
    position: relative;
    margin-top: -2%;
    text-align: center;
    background-color: #f6f6f6;
    border: 3px solid #FF5722;
    padding-bottom: 5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
 }

 .charts .title__wrapper {
    position: relative;
    background-color: #e62b34;
    margin: 1%;
    margin-bottom: 10%;
    border-radius: 5px;
    padding: 5% 0;
    padding-bottom: 10%;
 }

 .charts .title__wrapper:before {
    content: "";
    position: absolute;
    bottom: 0%;
    right: 28%;
    width: 45%;
    height: 0;
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;
    border-width: 12px 12px 12px 12px;
    z-index: 100;
 }

 .title__icon {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1000;
 }

.title__icon i {
    color: #f6f6f6;
    font-size: 5rem;
}

.sidebar .sidebar__title h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.sidebar .sidebar__title .skewBtn {
    width: 60px;
    height: 25px;
    outline: none;
    cursor: pointer;
    background: #e62b34;
    transition: .5s;
    text-align: center;
    border-radius: 5px;
    margin-left: 2%;
    border: 1px solid #e62b34;
    color: white;
    margin-top: 5px;
    font-size: .9rem;
    font-weight: bold;
 }

 .sidebar .sidebar__title .skewBtn:hover {
    border: none;
    color: #e62b34;
    transform:scale(1.1);
    background-color: white;
    border: 1px solid #e62b34;
    transition: all 0.3s ease-in-out;
 }

 .sidebar .sidebar__title .skewBtn.active {
    color: #e62b34;
    background-color: white;
    border: 1px solid #e62b34;
  }



.sidebar .top__items .top .anime__image {
    position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
    margin-top: 3%;
    padding: 0 1%;
    border: 1px solid transparent;
}

.sidebar .top__items .top .anime__image img:first-child {
    width: 100%;
    border-top: 2px solid #FF5722;
    border-right: 2px solid #FF5722;


}

.sidebar .top__items .top .anime__image .ribbon {
    position: absolute;
    color: #fff;
    background: #A21D0A;
    font-size: 11px;
    font-weight: bold;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    left: 4px;
    top: 0;
}

.sidebar .top__items .top .anime__image .ribbon:after {
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #A21D0A;
    border-style: solid;
    border-width: 12px 0 12px 12px;
}

.top__flag {
    position: absolute;
    right: 4px;
    top: 0;
    min-width: 22px;
    padding: 5px 10px;
    border-radius: 3px 0 0 0;
    z-index: 1;
    font-weight: 700;
    color: white;
    text-align: center;
}

.top1 {
    background-color: #ffc107;
}
.top2 {
    background-color: #28a745;
}
.top3 {
    background-color: #0069d9;
}

.top__flag i:before {
    position: absolute;
    top: 33px;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
}

.top__flag i:after {
    position: absolute;
    top: 33px;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
}

.top1 i:before {
    border-top-color: #ffc107;
}

.top1 i:after {
    border-top-color: #ffc107;
}

.top2 i:before {
    border-top-color: #28a745;
}

.top2 i:after {
    border-top-color: #28a745;
}

.top3 i:before {
    border-top-color: #0069d9;
}

.top3 i:after {
    border-top-color: #0069d9;
}

.sidebar .top__items .top .anime__image .anime__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
}

.sidebar .top__items .top .anime__image:hover .anime__overlay {
    opacity: 1;
}

.sidebar .top__items .top .anime__image .anime__overlay img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 20%;
    transition: all .5s;
    border: none;
}

.sidebar .top__items .top .anime__image:hover .anime__overlay img {
    transform: translate(-50%, -50%) rotate(360deg);
}

.sidebar .top__items .top .anime__image .top__name {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: #FFF;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: -1px 0 20px #482c6d, 0 1px 20px #482c6d, 1px 0 20px #482c6d, 0 -1px 20px #482c6d;
}